@model Escuela

@{
    // Se usa Model. por convención
    ViewData["Title"] = "Información Escuela";
}


<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Escuela</h1>
            <h2>Nombre: @Model.Nombre</h2> 
            <p><strong>Año de fundación: @Model.AnnioFundacion</strong></p>
        </div>
    </div>
</div>