@model Curso

@{
    // Se usa Model. por convención
    ViewData["Title"] = "Creación Curso";
    // Plantillas
    // Layout = "_Layout"; // Por defecto
    Layout = "Simple"; // Propia
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>@ViewData["Title"]</h1>
            <!--Retroalimentando al usuario de la validación del formulario
                "All" mira todas las validaciones si quiero una en particular, pues "NombreAtributo"-->
            <div asp-validation-summary="All"></div>
            <form action="" method="post">
            <!-- El asp-for="" representa un campo del Modelo OJO muy importante  en este caso
                Curso, por lo tanto los debes nombrar exactamente como está el modelo-->
                <div class="form-group row">
                    <label asp-for="Nombre" class="col-2"></label>
                    <input asp-for="Nombre" type="text" class="col-10 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="Dirección" class="col-2"></label>
                    <input asp-for="Dirección" type="text" class="col-10 form-control">
                </div>
                <div class="form-group row">
                    <label asp-for="Jornada" class="col-2"></label>
                    <!--Creando el select desde una Enumeración-->
                    <!--No solo se puede hacer un Enum tambien de una colección-->
                    @Html.DropDownList(
                           "Jornada",
                           Html.GetEnumSelectList<TiposJornada>(),
                           "Seleccione Jornada",
                           new {@class = "form-control col-10"}
                   )
                </div>
                <div class="form-group row">
                    <input type="submit" class="col-2 btn btn-dark" value="Sign in">
                </div>
            </form>
        </div>
    </div>
</div>